@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

body { font-family: 'Noto Sans KR', '나눔 고딕', sans-serif; background:#fff;}
*{box-sizing:border-box;}

@media (max-width:1600px) {
    .section_1 {width:1400px;}
    .sec1_slider div {height:550px;}
}

@media (max-width:1200px) {
    .logo {margin:10px 0 0 10px; background: url('../img/main_logo2.m.png')no-repeat;}
    .menu {float:left; margin-left:10vw;}
    .sub_wrap>a {font-size:18px; padding-left:4vw; line-height:70px;}
    .sub_wrap2>a {display:none;}
    .sub a {left:35%; color:#ccc; font-size:12px; padding:4px 0; }
    .sub_wrap:nth-child(2) .sub {padding-left:1vw;}
    .sub_wrap:nth-child(4) .sub {padding-left:1vw;}
    .sub .sub_tit {font-size:16px; margin-top:20px; color:#fff;}

    header.scroll .logo {background:url('../img/main_logo.m.png')no-repeat;}
    header.scroll .menu::before {top:70px; z-index:999;}
    section.bg {height:calc(400px + 10vw)}


    .search {width:90%;}
    .search li p{text-align:center;}
    #container {width:80%; margin:100px auto 0;}
    ul.goods {display:block; width:100%; margin: auto;}
    .goods > li {display:block; float: left; width:50%;}


    .section_1 {width:90%; padding:0;}
    .sec1_slider div {height:35vw;}
    .sec1_slider img {margin-bottom:2vw;}
    
    .section_2 {width:90%; margin:auto;}
    .s2_img { width:50%; padding: 10px;}
    .section_2 .s2_img div img {width:100%; height:50%; margin:0;}

    .section_2 .s2_img div h2 {font-size:16px;}
    .section_2 .s2_img div p {font-size: 11px;}
    .section_2 .s2_img div div {left:10%; top:10%; transform:none;}

    .s3_txt {padding:10px 0 0 0;}
    .s3_txt li {padding:2px 0;}
    .s3_txt li a {font-size:calc(12px + 0.2vw);}

    .section_3_bg {width:100%; height:300px;}
    .section_3 h1 {font-size:20px;}
    .section_3 ul li {margin:0 20px;}

    .center {width:90%; margin:auto;}
    footer .left { float:left; width:65%; font-size:12px;}
    .sns ul li {margin-left:18px;}
    .sns ul li a {font-size:30px;}
    .selectbtn a {width:130px;}
}








@media (max-width:768px) {
    header {height:auto;}
    .logo {position: relative; width:100px; height:40px; margin:15px 0 0 20px; background: url('../img/main_logo2.m.m.png')no-repeat;}
    .menu {float:left; margin-left:0px; margin-top:60px; padding-left: -10%;}
    .sub_wrap {float:none; display:none;}
    .sub_wrap:first-child>a {padding-top:100px}
    .sub_wrap:last-child>a {padding-bottom:100px}
    .sub_wrap>a {display:inline-block; font-size:16px; padding:0; line-height:50px;}
    .sub a {display:none;}
    .sub_wrap2 a {font-size:13px;}

    header.scroll .logo {background:url('../img/main_logo.m.m.png')no-repeat;}

    .open_gnb { display:block; width:50px; height:50px; position:absolute; top:5px; right:20px; cursor: pointer;}
    .open_gnb span { position:absolute; width:20px; height:2px; top:calc(50% - 1px); left:calc(50% - 10px); background:#fff; text-indent:-9999px; transition:0.4s; }
    .open_gnb span.black {background:#000;}
    .open_gnb .black:before, .open_gnb .black:after {background:black;}
    .open_gnb span:before, .open_gnb span:after{ position:absolute; display:block; content:""; width:20px; height:2px; background:#fff; transition:0.4s; }
    .open_gnb span:before { top:-5px; }
    .open_gnb span:after { top:5px; }
    .open_gnb.open span { background: transparent; }
    .open_gnb.open span:before { top:0; transform:rotate(45deg); }
    .open_gnb.open span:after { top:0;transform:rotate(-45deg); }
    
    #container {width:80%; margin:50px auto 0;}
    .search h2 {font-size:calc(10px + 2vw);}
    .goods .item .info {height:120px;}
    .tit_ex span {display: none;}
    
    .section_1 h1 {font-size:12px;}
    .section_1 h3 a {display:block;}
    .sec1_slider div {height:30vw;}
    .sec1_slider img {margin-bottom:0;}
    .sec1_slider div p {display: none;}

    .section_2 {width:90%; margin:auto;}
    .s2_img { width:100%; height:auto; padding: 10px;}
    .section_2 .s2_img div img {width:100%; height:50%; margin:auto}
    .section_2 .s2_img div h2 {font-size:26px;}
    .section_2 .s2_img div p {font-size: 16px;}
    .s3_txt li {padding:5px 0;}
    .s3_txt li a {font-size:16px;}

    .section_3 {padding:0;}
    .section_3 ul li {margin:0 10px;}
    footer .left h1 {font-size:14px;}
}






@media (max-width:510px) {
    section {width:100%; padding:50px 0;}
    section.bg {height:calc(300px + 5vw);}
    .txt {width:90%; top:15px; right:-50%; padding:10px 10px;}
    .txt h2 {font-size:14px;}
    .txt h1 {font-size:16px;}
    .txt p {font-size:12px;}

    .section_1 > h2 {font-size:20px;}
    .section_1 h1 {font-size:5px;}
    .section_1 h3 a {font-size:3px;}
    .section_1 p {display: none;}

    .section_2 > h2 {font-size:20px;}
    .s2_img {width:100%; height:100%; padding: 10px;}
    .section_2 .s2_img div img {width:100%;}
    
    .section_2 .s2_img div h2 {font-size:16px;}
    .section_2 .s2_img div p {font-size: 10px;}
    .s3_txt {padding:10px 0 0 0;}
    .s3_txt li {padding:2px 0;}
    .s3_txt li a {font-size:12px;}

    .section_3 {top:30%}
    .section_3_bg {width:100%; height:200px;}
    .section_3 h1 {font-size:20px; padding:0 0 30px;}

    .center {width:90%;}
    footer .left {width:60%; font-size:9px;}
    .sns ul li {margin-left:18px;}
    footer .left h1 {font-size:16px;}
    .sns ul li a {font-size:20px;}
    .selectbtn a {width:100px; font-size:12px;}
    .select {line-height:30px;}
    .selectmenu {font-size:12px; top:-150px}
}