/* 메뉴 클릭상태 유지 */
.menu .open {color:#ff7403}
.scroll .menu .open {color:#ff7403}



/* 메인이미지, 디자인 */
.freeshop {margin:150px 0 0;}
.shop_menu {width:100%; margin:auto; text-align:center;}
.shop_menu h1 {font-size:calc(30px + 1vw);}
.shop_menu h3 {font-size:calc(10px + 0.5vw);
                letter-spacing:10px;
                padding:20px 0;}
.shop_menu p {font-size: calc(12px + 0.2vw)}
.shop_menu ul {padding:50px 0;}
.shop_menu ul li {display:inline-block;
                padding:5px 20px;
                margin:0 10px;
                background: #e0e0e0;
                border-radius:3px;
                cursor: pointer;
                transition:0.5s;}
.shop_menu ul li a {color:#111;}
.shop_menu ul li:hover {background:#111;}
.shop_menu ul li:hover a {color:#fff;}
.shop_menu ul li.active {background:#111;}
.shop_menu ul li.active a {color:#fff;}

.shop_sub_menu {width:100%; margin:auto;
                background:#ff7403;
                opacity:0.7;}
.shop_sub_menu ul {padding:0 10vw;
                        height:40px;
                        overflow: hidden;}
.shop_sub_menu ul li {float: left;
                        line-height:40px;
                        padding-right:30px;}
.shop_sub_menu ul li a {font-size: calc(12px + 0.2vw);
                        color:#fff;
                        letter-spacing: 5px;}

.shop_img {display: block;
        width:100%; 
        height:50vh;}
.shop1 {width:100%; 
        height:50vh;
        position:absolute;
        background: url('../img/sub/shop1.jpg') no-repeat center center fixed;
        background-size:cover;
        padding:1.5vw 10vw;}
.shop1 p {font-size:calc(16px + 1vw);
        color:#fff;
        font-weight:bold;
        line-height:60px;}
.shop1_txt {width:30vw;
            position: relative; left:60vw;
            background:rgba(0,0,0,0.5);
            padding:2vw;}
.shop1_txt h1 {color:#ff7403;
                padding-bottom:0.5vw;
                font-size:calc(16px + 2vw);}
.shop1_txt ul li {padding-top:5px;}
.shop1_txt ul li a {color:#fff;
                        font-size:calc(10px + 0.2vw);}

.event_list {width:100%; margin:100px auto 0 0;}
.event_txt {text-align:center;}
.event_txt h3 {margin:20px 0;}
.event_list .swiper img {width:75%; margin-right:5%;}
.event_list .swiper img.se_img {width:75%;
                                margin-left:5%; margin-right:0%;}
.event_list .swiper ul {width:20%;}
.event_list .swiper ul h1 {font-size:3vw;
                        margin-bottom:1vw;}
.event_list .swiper ul h2 {border-bottom: 1px solid #cccccc;
                                line-height:3vw;}





.shop_list {margin:100px 0;}
.shop_list h1 {letter-spacing:none;}
.swiper {width: 80%;
        height: 100%;}
.swiper-wrapper {margin-top:2vw;}
.swiper-slide {
    padding:20px;
    text-align:start;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
      }

      .swiper-pagination-bullet-active {
        color: #fff;
        background: #cccccc;
      }

.swiper-button-next, .swiper-button-prev {filter: grayscale(10);}
.swiper-slide {padding:0 5vw;}
.swiper-slide > div {width:13%; margin:1vw auto;
                        cursor: pointer;
                        transition:0.5s;}
.swiper-slide > div:hover {transform: scale(1.1);}

.swiper-slide img {margin-bottom:20px;
                width: 100%;
                height: 70%;
                object-fit: cover;}
.swiper-slide > div > a {color: #111;
                        display:block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-left: 1vw;}
.brand_m {font-size:calc(12px + 0.2vw);
        padding-right:2vw;
        margin-bottom:0.5vw;}
.brand_t {font-size:calc(10px + 0.2vw);}
.swiper-slide > div > a.brand_t_c {color: #ff7403;
                                        font-size:calc(12px + 0.2vw)}
footer {width:100%;}
div.sub_footer {background:#e0e0e0; padding:3vw 0;}
.inner_footer {width:90%; margin:auto;}
.inner_footer:after {display:block; content:""; clear: both;} 

.sitemap div {float:left;}
.sitemap div h2 {color:#ff7403;
                font-size:18px;
                margin-bottom:20px;}

.sitemap div ul li a {font-size:13px; color:#111; line-height: 24px;}
.sitemap div:nth-child(1) {width:20%}
.sitemap div:nth-child(2) {width:20%}
.sitemap div:nth-child(3) {width:40%}
.sitemap div:nth-child(4) {width:20%;}


/* 오른쪽 버튼 */
.top {position:fixed;
        display:inline-block;
        bottom:50px; right:40px;
        z-index:10;}

.top ul li {margin-bottom:10px;}

.top a {display: block;
        width: 40px; height:40px;
        background:#ff7403;
        text-align: center;
        line-height:40px;
        font-size:12px;
        font-weight:bold;
        color: #fff;}

.Tel::before {display: block; content:"010-1254-4223";
                position:absolute; right:60px;
                width:120px; height:40px;
                background:#ff7403;
                opacity:0;
                transition:0.5s;}
.Tel:hover::before{opacity:1;}







@media (max-width:1200px) {
.swiper-slide h2 {font-size:15px;}
.swiper-slide .sub_txt {display: none;}

}


@media (max-width:768px) {
.swiper .swiper-button-next, .swiper .swiper-button-prev {display:none;}
.top {display:none;}
.freeshop {margin:100px 0 0;}
.shop_menu ul li {display:inline-block;
        padding:2px 6px;
        margin:0 2px;}
.shop_menu ul li a {font-size:calc(12px + 0.2vw);}
.shop_img {height:30vh;}
.shop1 {height:30vh;}
.swiper-slide .sub_txt {display: none;}

.shop_list h1 {letter-spacing:none;
                font-size:25px;}
.swiper-slide {padding:0;}
.swiper-slide > div {width:16%;}

.swiper-slide > div > a {margin-left:0;}
.brand_m {font-size:calc(14px + 0.2vw);
        padding-right:1vw;
        margin-bottom:0.5vw;}
.brand_t {font-size:calc(10px + 0.2vw);}
}




@media (max-width:510px) {
.event_txt p {font-size:12px;}
.swiper-slide > div {width:20%;}
.swiper-slide p {display:none;}
.event_list .swiper ul h2 {line-height:20px;}
.shop_list {margin:50px 0;}
.sitemap div:nth-child(1) {width:50%;}
.sitemap div:nth-child(2) {width:50%;}
.sitemap div:nth-child(3) {width:48%; padding-right:2%;}
.sitemap div:nth-child(4) {width:50%;}
}