@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

body { font-family: 'Noto Sans KR', '나눔 고딕', sans-serif; background:#fff;}
*{box-sizing:border-box;}

header {position:fixed; top:0; left:0; width:100%; z-index:100;transition:0.5s; background: rgba(0, 0, 0, 0.8);}


header div {width:1200px;
            margin:auto;}
    .logo {float: left;
            height:60px; width:200px;
            margin-top:5px;
            background: url('../img/main_logo2.png')no-repeat;
            text-indent:-9999px;
            cursor: pointer;}
    .open_gnb {display:none;}
    .menu {}
    .menu>ul {float:right; width:auto;}
    .sub_wrap {float:left; height:100%;}
    .sub_wrap>a {display:inline-block;
                    font-size:20px;
                    line-height:80px;
                    color:#fff;
                    padding-left:68px;
                    transition: 0.5s;}
    .sub_wrap a:hover {color:#ff7403;}
    .sub_wrap2 {}
    .sub_wrap2>a {display:block; 
                    font-size:10px;
                    text-align:center;}
    
    .sub {}
    .sub a {position: relative;
            left:45%; display:block;
            color:#ccc;
            font-size:13px;
            padding:5px 0; }
    .sub_wrap:nth-child(2) .sub {padding-left:30px}
    .sub_wrap:nth-child(4) .sub {padding-left:30px}

    .sub .sub_tit {font-size:16px;
                margin-top:40px;
                color:#fff;}
    .sub_tit::after {position: relative; display:block; content:"";
                    top:-16px; left:-10px;
                    width:5px; height:16px;
                    background:#ff7403;}


    .none {display:none;}
    .block {display:block;}

header.scroll {background:rgba(255, 255, 255, 0.5); box-shadow: 0 0 20px;}
header.scroll .sub_wrap>a {color:#333; font-weight:bold; transition: 0.5s;}
header.scroll .logo {background:url('../img/main_logo.png')no-repeat;}
header.scroll .menu ul li a  {color:#333;}
header.scroll .sub .sub_tit {font-size:16px; margin:40px 0 0 5px;color:#000;}
header.scroll .sub_wrap>a:hover {color: #ff7403;}
header.scroll .sub a:hover {color: #ff7403;}

section {width:100%; padding:100px 0;}

/******* section 0번째 *******/
section.bg {height:35vw; padding:0;
            position: relative;}
.swiper-slide .swiper_txt {position: absolute;}
.swiper-slide .swiper_txt1 {right:10%;}
.swiper-slide .swiper_txt1 h1 {font-size:3vw;
                                color:#fff;}
.swiper-slide .swiper_txt1 p {font-size:1vw;
                                color:#fff;
                                letter-spacing:1vw;}
.swiper-slide .swiper_txt2 h1 {font-size:2.5vw;
                                color:#fff;
                                letter-spacing:0.5vw;}
.swiper-slide .swiper_txt2 p {font-size:1vw;
                                color:#fff;
                                padding:3vw 0;}
.swiper-slide .swiper_txt2 .btn {font-size: 0.6vw;
                                color:#fff;
                                padding:0.2vw 0.5vw;
                                border:1px solid #fff;
                                border-radius:0.2vw;
                                background:rgba(255, 255, 255, 0.2);
                                cursor: pointer;
                                transition: 0.5s;}
.swiper-slide .swiper_txt2 .btn:hover {background:#ff7403;}
.swiper-slide .swiper_txt3 {right:10%;}
.swiper-slide .swiper_txt3 h1 {font-size:2.5vw;
                                color:#fff;}
.swiper-slide .swiper_txt3 p {font-size:1vw;
                                color:#fff;
                                letter-spacing:0.5vw;
                                padding:3vw 0;}
.swiper-slide .swiper_txt3 .btn {font-size: 0.6vw;
                                color:#fff;
                                padding:0.2vw 0.5vw;
                                border:1px solid #fff;
                                border-radius:0.2vw;
                                background:rgba(255, 255, 255, 0.2);
                                cursor: pointer;
                                transition: 0.5s;}
.swiper-slide .swiper_txt3 .btn:hover {background:#ff7403;}
.swiper-slide .swiper_txt4 {right:10%;}
.swiper-slide .swiper_txt4 h1 {font-size:3vw;
                                color:#fff;}
.swiper-slide .swiper_txt4 p {font-size:1vw;
                                text-align: end;
                                color:#fff;
                                letter-spacing:0.5vw;
                                line-height:2vw;}

.swiper {
    width: 100%;
    height: 100%;
}
.swiper span {background: #ff7403;
                width:2vw;
                height:0.2vw;
                border-radius:2px;}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/******* section 0번째 *******/
.section_0 {width:100%; background:url('../img/fdsa.jpg');
        background-size: cover;
        margin-bottom:100px;}
.search {display: block; width:900px; margin: auto;}
.search h2 {color:#2c2c2c;
            margin-bottom:50px;
            text-align:center;}
.orange {color: #ff7403; border-bottom:2px solid #ff7403;}
.search li p {font-size:calc(10px + 0.2vw);
                color:#2c2c2c;
                line-height:calc(10px + 1vw);}
#container {width:1200px; margin:100px auto 0;}
ul.goods {display: table; width:1200px;}
ul.goods::after {display:block; content:""; clear:both}
.goods > li {display:table-cell;
            width:25%;}
.goods .item {position: relative;
            display:block;
            transition:0.5s;}
.goods .item:hover {box-shadow:0 0 20px rgba(0,0,0,0.4);
                    z-index:100;
                    margin:0 -10px;}
.goods .item:hover .more {opacity:1;}
.goods .item .img {}
.item .img img:nth-child(2) {display:none;}
.item:hover .img .hover {display:block;}
.goods .item .info {height:200px;
                    background:rgba(255, 255, 255, 0.5);
                    padding:20px 30px 0;}
.info .sort {height:30px;
                font-weight:bold;
                color:#2c2c2c;
                letter-spacing:-0.5px;}
.info .title {height:50px;
    font-size:12px;
    color: #919191; }
.info .tit_ex {}
    .tit_ex span {font-size:calc(10px + 0.2vw);
                    font-weight:bold;
                    color:#ff7403}

.more {position: absolute;
        bottom:10%; right:15%;
        width:30px; height:30px;
        background: rgba(0,0,0,0.1);
        text-align: center;
        border-radius:50%;
        opacity: 0;
        transition: 0.5s;}
.more_icon {line-height:30px;
            font-size:20px;
            color: #2c2c2c;
            font-weight:bold;}


/******* section 1번째 *******/
.section_1 {overflow:hidden;
            width:1600px;
            margin:auto;}
.section_1  > h2 {margin-bottom:50px;
                text-align:right;
                color: rgba(0,0,0,0.1);
                font-size:calc(30px + 3vw);}
.sec1_slider {margin: auto;}
.sec1_slider div {height:600px; width:95%; margin: auto;}
.sec1_slider img {width:100%; height:auto; margin: auto;
                background-size:contain;}

.shopping {background:#ff740340;
            filter:grayscale(0.5);
            cursor: pointer;
            transition: 0.5s;}
.shopping:hover {filter: grayscale(0);
                transform: scale(1.1);}
.shopping_txt {padding:1vw;}
.shopping h1 {font-size:calc(10px + 0.7vw);
            color: #ff7403;}
.shopping h3 {font-size:calc(10px + 0.2vw);
                letter-spacing:0.3vw;
                color: rgba(0,0,0,0.4);
                padding:1vw 0;}
.shopping p {font-size:calc(10px + 0.2vw);}

.food {background:#2D4F5D40;
    filter:grayscale(0.5);
    cursor: pointer;
    transition: 0.5s;}
.food:hover {filter: grayscale(0);
        transform: scale(1.1);}
.food_txt {padding:1vw;}
.food h1 {font-size:calc(10px + 0.7vw);
            color: #2D4F5D;}
.food h3 {font-size:calc(10px + 0.2vw);
                letter-spacing:0.5vw;
                color: rgba(0,0,0,0.4);
                padding:1vw 0;}
.food p {font-size:calc(10px + 0.2vw);}

.wifi {background:#2D4F5D20;
    filter:grayscale(0.5);
    cursor: pointer;
    transition: 0.5s;}
.wifi:hover {filter: grayscale(0);
            transform: scale(1.1);}

.cash {background:#286d1d40;
    filter:grayscale(0.5);
    cursor: pointer;
    transition: 0.5s;}
.cash:hover {filter: grayscale(0);
        transform: scale(1.1);}
.cash_txt {padding:1vw;}
.cash h1 {font-size:calc(10px + 0.7vw);
            color: #286d1d;}
.cash h3 {font-size:calc(10px + 0.2vw);
                letter-spacing:0.3vw;
                color: rgba(0,0,0,0.4);
                padding:1vw 0;}
.cash p {font-size:calc(10px + 0.2vw);}

.lounge {background:#602c0040;
    filter:grayscale(0.5);
    cursor: pointer;
    transition: 0.5s;}
.lounge:hover {filter: grayscale(0);
        transform: scale(1.1);}
.lounge_txt {padding:1vw;}
.lounge h1 {font-size:calc(10px + 0.7vw);
    color: #602c00;}
.lounge h3 {font-size:calc(10px + 0.2vw);
        letter-spacing:0.5vw;
        color: rgba(0,0,0,0.4);
        padding:1vw 0;}
.lounge p {font-size:calc(10px + 0.2vw);}

/******* section 2번째 *******/
.section_2 {overflow: hidden;
            width:1200px; height:auto;
            margin:auto;}
.section_2 > h2 {margin-bottom:50px;
                text-align:left;
                color: rgba(0,0,0,0.1);
                font-size:calc(30px + 3vw);}
.section_2 .s2_img {float: left;}
.section_2 .s2_img .img_wrap {position: relative;
                                color:#fff;}
.section_2 .s2_img div img {width:580px;
                            height:300px;
                            margin:10px;
                            border-radius:10px;
                            filter:brightness(30%);
                            box-shadow: 0 0 10px;
                            cursor: pointer;}
.section_2 .s2_img div img:hover {filter:brightness(60%);
                                transition:1s;}
.section_2 .s2_img div h2 {padding: 10px 0;
                            font-size:calc(12px + 0.5vw);
                            font-weight: lighter;
                            color: #ff7403;}
.section_2 .s2_img div p {font-size:calc(11px + 0.2vw)}
.section_2 .s2_img div div {position: absolute;
                            top:40px; left:10%;}
.section_2 .s2_img .map_F li {float: left;
                                padding-right:10px;}
.s3_txt {padding:20px 0 0 0;}
.s3_txt li {padding:3px 0; display:none;}
.s3_txt li a {color:#fff;
                font-size:calc(12px + 0.2vw);}
.s3_txt li:hover {text-decoration:underline;}

/******* section 3번째 *******/
.section_3_bg {width:100%; height:40vh;
            background: url('../img/s_3_bg.jpg') fixed;
            background-size:cover;}
.section_3 {position: relative; color:#ff7403; top:40%;  text-align:center;}
.section_3 h1 {padding-bottom:50px;}
.section_3 ul {}
.section_3 ul li {display: inline-block; margin:0 30px;}
.section_3 ul li a {color:#fff;
    font-size:20px;
    padding:5px 10px;
    background:#22222280;
    border: 1px solid #fff;
    border-radius:5px;}
.section_3 ul li a:hover {background:#ff740370;}



/******* footer *******/
.footer_wrap { background:#2D4F5D; }
footer {overflow:hidden;
        width:2000px; margin:auto;
        padding:50px 0 20px;
        color:#fff;
        max-width:1200px;}
footer .left { float:left; width:40%}
footer .left h1 {display:inline-block;
            margin:0 0 30px 0; font-size:22px;}
footer .left h1 p:first-child {color: #b4c8d8;}
footer .left .tip {margin:30px 0;}
footer .sns {overflow:hidden;}
.sns ul li {float: right; margin-left:50px;}
.sns ul li a {color:#fff; font-size:40px;}
.select {float:right; 
            line-height:40px;
            margin-top:100px;
            font-size:14px;
            text-align:center;}

.select a {display:block;}
.selectbtn {}
.selectbtn a {background:#333333;
                width:170px;
                color:#fff;}

.select:hover .selectmenu {display:block;}
.selectmenu {position: relative;
                top:-200px;
                height:0px;
                display:none;
                z-index:99999;}
.selectmenu a {background:#fff; color:#333333}
.selectmenu a:hover{background:#5c60e0; color:#fff}

/* 오른쪽 버튼 */
.top {position:fixed;
    display:inline-block;
    bottom:50px; right:40px;
    z-index:10;}

.top ul li {margin-bottom:10px;}

.top a {display: block;
    width: 40px; height:40px;
    background:#ff7403;
    text-align: center;
    line-height:40px;
    font-size:12px;
    font-weight:bold;
    color: #fff;}

.Tel::before {display: block; content:"1577-2600";
            position:absolute; right:60px;
            width:120px; height:40px;
            background:#ff7403;
            opacity:0;
            transition:0.5s;}
.Tel:hover::before{opacity:1;}


